body{
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(5, 5, 70);
    color: white;
    overflow-y: scroll;
}
main{
    padding: 100px 25px 25px
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    color: rgb(5, 5, 70);
    background-color: lightgray;
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    column-gap: 2rem;
    border-bottom: 1px solid rgb(5, 5, 70);
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0;
    transform: skew(-5deg);
}
.bomb-icon{
    height: 1em;
    vertical-align:middle;
    padding-bottom: 11px;
    margin-right: -0.12em;
}
#tagline{
    font-size: 20px;
    font-weight: bold;
    margin: 0.2rem 0 1rem;
}
nav{
    grid-column: 2;
    display: flex;
    gap: 1.5rem;
    padding-right: 60px;
}
nav a{
    color: rgb(5, 5, 70);
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border: 5px solid transparent;
    transform: skew(-5deg);
}
nav a:hover{
    text-decoration: underline;
}
footer {
    text-align: center;
    padding: 0;
    background-color: lightgray;
    color: rgb(5, 5, 70);
    padding: 1px;
}
footer p{
    font-size: 15px;
}
h2{
    font-size: 40px;
    transform: skew(-5deg)
}
h3{
    font-size: 30px;
}
p, ul{
    font-size: 22px;
    line-height: 1.5;
} 
#contact-nav{
    background-color: rgb(36, 175, 36);
    color: white;
    font-weight: bold;
    border: 5px solid green;
    transform: skew(0deg);
}
#contact-nav:hover{
    background-color: rgb(62, 212, 62);
    text-decoration: none;
}
#home {
    text-align: left;
    background-image: url("../images/homebg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
#home h2 {
    color: white;
    font-size: 75px;
    margin-bottom: 0.5rem;
}
.home-text h3 {
    color: white;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 1.5rem;
}
.home-buttons {
    display: flex;
    gap: 1rem;
}
#home a {
    background-color: white;
    color: rgb(5, 5, 70);
    text-decoration: none;
    padding: 25px 25px;
    border-radius: 5px;
    font-size: 20px;
}
#home a:hover {
    background-color: lightgray;
}
#info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
.info-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
    gap: 2rem;
    border-top: 4px solid white;
    padding-top: 30px;
}
.info-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info-image img{
    max-height: 400px;
    height: auto;
    border-radius: 10px;
    display: flex;
}
.info-image figcaption, a{
    font-size: 7px;
    color: white;
    text-align: center;
}
.info-section .info-box{
    min-height: 400px; 
    background-color: rgb(5, 5, 70);
    color: white;
}
.info-section .info-box h3{
    font-size: 40px;
}
.info-box{
    background-color: lightgray;
    color: rgb(5, 5, 70);
    padding: 1rem 40px;
    border-radius: 10px;
    flex: 1 1 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.info-box h3, .info-box p, .info-box ul{
    margin-top: 0;
    margin-bottom: 0.75rem;
}
.info-box h3{
    border-bottom: 3px solid rgb(5, 5, 70);
    text-align: center;
    padding-bottom: 15px;
}
.info-box, .info-image{
    width: 50%;
    box-sizing: border-box
}
.info-section .info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
}
.info-section .info-box li {
    background-color: white;
    color: rgb(5, 5, 70);
    padding: 2rem;
    border-radius: 6px;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-section.right-text{
    flex-direction: row-reverse;
}
.info-section.left-text{
    flex-direction: row;
}