<nav>
    <a href="https://webpages.charlotte.edu/bstahlma/">charlotte.edu</a>
    ||
    <a href="https://github.com/bstahlman27/bstahlman27.github.io">Github</a>
    ||
    <a href="https://bstahlman27.github.io/">Github.io</a>
    ||
    <a href="https://bstahlman27.github.io/itis3135/">itis3135.io</a>
    ||
    <a href="https://www.freecodecamp.org/bstahlman27">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/bstahlman27">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/benjamin-stahlman/">LinkedIn</a>
</nav>
<p>Page built by <a href="../stahlmaninternational.com/">Stahlman International</a>, Certified in <a href="https://www.freecodecamp.org/certification/bstahlman27/responsive-web-design">Responsive Web Design</a>, and <a href="https://www.freecodecamp.org/certification/bstahlman27/javascript-algorithms-and-data-structures-v8">JADS</a> &copy; 2025</p>